h1 {
    display: inline;
}

.score {
    margin-bottom: 20px;
    font-family: 'Fascinate', cursive;
}

html, body {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}